.divBody {

height: 100vh;
background-color: rgb(228, 241, 255);
display: grid;
grid-template-columns: 25% 1% 74%;
padding: 2rem;
}

.tagBox{
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    border: 1px solid  rgba(34, 34, 34, 0.411);
}

.eventBox {
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    border: 1px solid rgba(34, 34, 34, 0.411);
    overflow: auto;
    
}

.title {
font-size: 200%;
}

.ricerca form {
width: 100%;
margin: 2vh 0;
border: 1px solid  rgba(34, 34, 34, 0.411);
}