.button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.divBody {
height: 100vh;
background-color: rgb(228, 241, 255);
display: grid;
grid-template-columns: 25% 1% 74%;
padding: 2rem;
}

.tagBox{
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    border: 1px solid  rgba(34, 34, 34, 0.411);
    position: relative;
}

.eventBox {
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    border: 1px solid rgba(34, 34, 34, 0.411);
    overflow: auto;
    position: relative;
    
}
.tagPreferiti{
display: flex;
justify-content: space-between;
}
.preferiti{
height: auto;
width: auto;
}

.preferitiCliccato{
    height: auto;
width: auto;
}

.star , .noIdea{
color: rgb(114, 114, 114);
}

.ab .star {
color: yellow;
}
.eb .noIdea{
    color: yellow;
}

.title {
font-size: 200%;
}

.ricerca form {
width: 100%;
margin: 2vh 0;
border: 1px solid  rgba(34, 34, 34, 0.411);
}

.button {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    background-color: rgb(157, 235, 255);
    border: 1px rgba(34, 34, 34, 0.411) solid;
}

.h{
    max-height: 80vh;
overflow: auto;
}

.plusIcon{
width: 100%;
height: auto;
font-size: x-large;
}

.formBackgroundDeactivated{
display: none;
}

.formBackgroundActive{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.281);
    justify-content: center;
    padding: 1rem 0;
    }

.formAddEvent{
    background-color: white;
    border-radius: 10px;
    width: 50%;

}

.returnPreferitiAddButton{
display: flex;
width: 98%;
justify-content: space-between;
position: absolute;
bottom: 10px;
}