/*css resetter*/
*{
    box-sizing: border-box;
  margin:0;
  padding: 0;
  }
  table {
    border-collapse:collapse;
    border-spacing:0;
  }
  fieldset,img { 
    border:0;
  }
  input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
  }
  address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
  }
  ol,ul {
    list-style:none;
  }
  caption,th {
    text-align:left;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
  }
  
  
  /**/
  .body{

  }
  .background{
  background-image: url(../images/rivaDelGarda.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
    
display: grid;
place-content: center;


  }
  
  .titolo{    
    color:rgb(0, 0, 0);
    font-size: 600%;
  }
  
  
  
  
  
  